body {
  font-family: "Poppins", Arial, sans-serif;
  font-size: 15px;
  line-height: 1.8;
  font-weight: normal;
}


#font-modify {
    font-size: 90px;
}
.owl-carousel {
  position: relative;
  margin-top: 90px;
}

.owl-carousel .owl-item {
  opacity: 1;
}

.owl-carousel .owl-item.active {
  opacity: 1;
}

.owl-carousel .owl-dots {
  text-align: center;
}

.owl-carousel .owl-dots .owl-dot {
  width: 10px;
  height: 10px;
  margin: 5px;
  border-radius: 50%;
  background: #e6e6e6;
  position: relative;
}

.owl-carousel .owl-dots .owl-dot:after {
  position: absolute;
  top: -2px;
  left: -2px;
  right: 0;
  bottom: 0;
  width: 14px;
  height: 14px;
  content: '';
  border: 1px solid #4d4d4d;
  border-radius: 50%;
}

.owl-carousel .owl-dots .owl-dot:hover,
.owl-carousel .owl-dots .owl-dot:focus {
  outline: none !important;
}

.owl-carousel .owl-dots .owl-dot.active {
  background: #b3b3b3;
}

.owl-carousel .owl-dots .owl-dot.active:after {
  border-color: #fff;
}

.owl-carousel.home-slider {
  position: relative;
  height: 650px;
  z-index: 0;
}

.owl-carousel.home-slider .slider-item {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh; 
}

.owl-carousel.home-slider .slider-item .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5); 
}

.owl-carousel.home-slider .slider-item .slider-text {
  position: relative;
  z-index: 2;
  text-align: center;
  color: #fff;
  padding: 0 15px;
}

.owl-carousel.home-slider .slider-item .slider-text h2 {
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 700;
  color: #f5e4c3;
  display: inline-block;
  position: relative;
  letter-spacing: 4px;
}

.owl-carousel.home-slider .slider-item .slider-text h1 {
  font-size: 60px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.2;
}

.owl-carousel.home-slider .owl-nav {
  position: absolute;
  top: 50%;
  width: 100%;
}

.owl-carousel.home-slider .owl-nav .owl-prev,
.owl-carousel.home-slider .owl-nav .owl-next {
  position: absolute;
  transform: translateY(-50%);
  outline: none !important;
  transition: 0.3s;
  opacity: 0;
}

.owl-carousel.home-slider .owl-nav .owl-prev span:before,
.owl-carousel.home-slider .owl-nav .owl-next span:before {
  font-size: 30px;
  color: rgba(255, 255, 255, 0.5);
  transition: 0.3s;
}

@media (prefers-reduced-motion: reduce) {
  .owl-carousel.home-slider .owl-nav .owl-prev span:before,
  .owl-carousel.home-slider .owl-nav .owl-next span:before {
    transition: none;
  }
}

.owl-carousel.home-slider .owl-nav .owl-prev:hover span:before,
.owl-carousel.home-slider .owl-nav .owl-prev:focus span:before,
.owl-carousel.home-slider .owl-nav .owl-next:hover span:before,
.owl-carousel.home-slider .owl-nav .owl-next:focus span:before {
  color: #fff;
}

.owl-carousel.home-slider .owl-nav .owl-prev {
  left: 0;
  margin-left: 0;
}

.owl-carousel.home-slider .owl-nav .owl-next {
  right: 0;
  margin-right: 0;
}

.owl-carousel.home-slider:hover .owl-nav .owl-prev,
.owl-carousel.home-slider:hover .owl-nav .owl-next {
  opacity: 1;
}

.owl-carousel.home-slider:hover .owl-nav .owl-prev {
  margin-left: 50px;
}

.owl-carousel.home-slider:hover .owl-nav .owl-next {
  margin-right: 50px;
}

.owl-carousel.home-slider .owl-dots {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 40px;
  width: 100%;
  text-align: center;
}

@media (max-width: 767.98px) {
  .owl-carousel.home-slider .owl-dots {
    bottom: 5px;
  }
}

.owl-carousel.home-slider .owl-dots .owl-dot {
  width: 10px;
  height: 10px;
  margin: 5px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.4);
}

.owl-carousel.home-slider .owl-dots .owl-dot.active {
  background: #fff;
}

.owl-carousel.owl-drag .owl-item {
  touch-action: pan-y;
}

.img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

h1, h2, h3, h4, h5, .h1, .h2, .h3, .h4, .h5 {
  line-height: 1.5;
  font-weight: 400;
  font-family: "Poppins", Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

h1, .h1 {
  font-size: 2.5rem;
}

h2, .h2 {
  font-size: 2rem;
}

h3, .h3 {
  font-size: 1.75rem;
}

h4, .h4 {
  font-size: 1.5rem;
}

h5, .h5 {
  font-size: 1.25rem;
}

h6, .h6 {
  font-size: 1rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.no-gutters > .col,
.no-gutters > [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
.col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
.col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
.col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
.col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
.col-xl-auto {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}

.col-auto {
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}

.col-1 {
  flex: 0 0 8.33333%;
  max-width: 8.33333%;
}

.col-2 {
  flex: 0 0 16.66667%;
  max-width: 16.66667%;
}

.col-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.col-4 {
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}

.col-5 {
  flex: 0 0 41.66667%;
  max-width: 41.66667%;
}

.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.col-7 {
  flex: 0 0 58.33333%;
  max-width: 58.33333%;
}

.col-8 {
  flex: 0 0 66.66667%;
  max-width: 66.66667%;
}

.col-9 {
  flex: 0 0 75%;
  max-width: 75%;
}

.col-10 {
  flex: 0 0 83.33333%;
  max-width: 83.33333%;
}

.col-11 {
  flex: 0 0 91.66667%;
  max-width: 91.66667%;
}

.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

/*About-section*/

.about_section {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.about_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about_section .img-box {
  position: relative;
}

.about_section .img-box img {
  max-width: 100%;
  position: relative;
  z-index: 2;
}

.about_section .img-box::before, .about_section .img-box::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 45px;
  height: 70%;
  background-color: #f07b26;
  z-index: 3;
}

.about_section .img-box::before {
  left: 0;
  z-index: 3;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.about_section .img-box::after {
  right: 0;
  z-index: 1;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}

.about_section .detail-box p {
  color: #1f1f1f;
  margin-top: 15px;
}

.about_section .detail-box a {
  display: inline-block;
  padding: 10px 45px;
  background-color: #f07b26;
  color: #ffffff;
  border-radius: 0px;
  -webkit-transition: all .3s;
  transition: all .3s;
  border: none;
  margin-top: 15px;
  text-decoration: none;
}

.about_section .detail-box a:hover {
  background-color: #bc570d;
}

.heading_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.heading_container h2 {
  position: relative;
  font-weight: bold;
}

.heading_container h2 span {
  color: #f07b26;
}

.heading_container.heading_center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

/*End About Section*/

/*Start statistics*/

.statistics{
    margin-bottom: 5rem;
    position:relative;
    display: flex;
    align-items: center;
    background:url(../image/pic5.jpg)no-repeat fixed;
    background-position:center;
    background-size:cover;
    min-height: 300px;
    padding: 0;
}
.statistics:before{
    position:absolute;
    content:'';
    background: rgba(75,75,75,.60);
    height:100%;
    width:100%;
    top:0;
    left:0;
}
/* single-ststistics-box */
.single-ststistics-box {
    text-align: center;
    margin-bottom:30px;
    margin: 0 20px;
}
/* single-ststistics-box */
.statistics-content{
    display: flex;
    justify-content: center;
    color:#fff;
    font-size:60px;
}
.statistics-content span {
    margin-left: 5px;
}
.single-ststistics-box h3{
    color:#fff;
    font-size:24px;
    text-transform:capitalize;
    font-weight: 500;
    margin-top: 10px;
}

@media screen and (max-width:1199px){
  .statistics-content {font-size: 40px;}

}

@media screen and (max-width:767px){
  .statistics{padding:60px 0;}
  
}

/*End statistics*/

/* 08. Counter */
#counter {
  width: 100%;
  padding: 55px 0;
  text-align: center;
  position: relative;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
}

#counter .col-sm-4 {
  border-right: 1px solid #fff;
}

#counter .col-sm-4:last-child {
  border-right: none;
}

#counter .counter-overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

#counter .counter-number {
  width: 100%;
    display: block;
    margin-bottom: 10px;
    line-height: 1;
    font-weight: 700;
    font-size: 65px;
    color: #fff;
    font-family: "Poppins", Arial, sans-serif;
    line-height: 70px;
}

#counter .counter-description {
  width: 100%;
  line-height: 24px;
  display: block;
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 700;
}

#counter .widget_illdy_counter {
  margin-top: 40px;
}

#counter .widget_illdy_counter:nth-child(1), #counter .widget_illdy_counter:nth-child(2), #counter .widget_illdy_counter:nth-child(3) {
  margin-top: 0;
}

.container-fluid {
  padding-right: 0 !important;
  padding-left: 0 !important;
  margin-right: 0 !important;
  margin-left: 0 !important;
  font-family: "Poppins", Arial, sans-serif;
}

.container-fluid a {
  text-decoration: none;
}

#fix-footer {
    margin-top: 59px;
}
